.el-menu-vertical-demo:not(.el-menu--collapse) {
  min-height: 400px;
  width: 200px;
}
.i-title span {
  text-transform: capitalize;
  font-size: 27px;
  vertical-align: middle;
  color: #666;

  transition: all 0.4s;
}
.menu-btn {
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  width: 100%;
  padding: 12px 0px;
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: 1px solid #e6e6e6;
  border-radius: 0;

  transition: padding 0.4s;
}
.menu-btn {
  color: #409eff;
}
.menu-btn:focus {
  background-color: rgba(0, 0, 0, 0);
}
.menu-btn:active {
  border-color: #e6e6e6;
  background-color: #409eff;
}
.menu-btn:active i {
  color: #fff;
}

.i-title {
  color: #666;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 3px;
  margin-left: 20px;
  min-width: 194px;

  transition: all 0.4s;
}
.i-title-col {
  height: 100%;
  text-align: left;

  transition: all 0.4s;
}
.menu-btn-col {
  height: 100%;
  text-align: center;
  width: 65px;

  transition: all 0.4s;
}
.home-header {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: solid 1px #e6e6e6;
  padding: 0;
  box-shadow: 0 0 10px #eee;
  transition: all 0.4s;
}
.home-aside {
  height: 100%;
  width: inherit !important;
  transition: all 0.4s;
}
.mask-enter,
.mask-leave-to {
  opacity: 0;
}
.mask-enter-active,
.mask-leave-active {
  transition: 0.5s all;
}

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: translateX(80px);
}
.router-enter-active,
.router-leave-active {
  position: absolute;
  transition: 0.5s opacity, 0.5s transform;
}
.router-move {
  transition: all 1s;
}
.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: none;
}
@media screen and (max-width: 767px) {
  .i-title {
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 5px;
    line-height: 40px;
    text-align: center;

    transition: all 0.1s;
  }
  .i-title span {
    font-size: 17px;

    transition: all 0.1s;
  }
  .home-header {
    height: 40px !important;

    transition: all 0.4s;
  }
  .menu-btn {
    padding: 0;
    border: none;

    transition: all 0.4s;
  }
  .menu-btn-col {
    height: 100%;
    text-align: center;
    width: 40px;

    transition: all 0.4s;
  }
  .i-title-col {
    text-align: center;

    transition: all 0.4s;
  }

  .home-aside {
    position: absolute;
    z-index: 3;
    margin-left: -65px;

    transition: all 0.4s;
  }
  .home-aside-click {
    margin-left: 0;

    transition: all 0.4s;
  }
  .mask {
    display: block;
  }
}
