.el-menu-vertical-demo:not(.el-menu--collapse) {
  min-height: 400px;
  width: 200px;
}

.hide {
  opacity: 0;
}

.router-container {
  /* width:100%后再padding:2%宽度超了所以要用box把宽度包进去 */
  box-sizing: border-box;
  /* 放置padding:2%时里面的元素能不挨边 */
  padding: 2%;
  /* 元素要平滑过渡必须在过渡属性里加上position: absolute,因为挨不到一起，但当元素变成ab时，元素接近于inline-block宽度就不是布满100%了 */
  /* 还不如现在就加上pos:ab */
  width: 100%;
}

/* 手机端搜索按钮 */
.search-btn {
  position: absolute;
  background-color: #fff;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15%;
  left: 42.5%;
  bottom: -17px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #eee;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  display: none;
  animation: slowTranslate 1.5s infinite alternate;
  z-index: 2;
  transition: all 0.4s;
}

.search-btn:active {
  background-color: rgba(64, 158, 255, 0.4);
}

@keyframes slowTranslate {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(4px);
  }
}

/* 手机端搜索按钮结束 */

.i-title span {
  text-transform: capitalize;
  font-size: 27px;
  vertical-align: middle;
  color: #666;

  transition: all 0.4s;
}
.menu-btn {
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  width: 100%;
  padding: 12px 0px;
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: 1px solid #e6e6e6;
  border-radius: 0;

  transition: padding 0.4s;
}
.menu-btn i {
  font-size: 27px;
}
.menu-btn {
  color: #409eff;
}
.menu-btn:focus {
  background-color: rgba(0, 0, 0, 0);
}
.menu-btn:active {
  border-color: #e6e6e6;
  background-color: #409eff;
}
.menu-btn:active i {
  color: #fff;
}

.i-title {
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 3px;
  margin-left: 20px;
  min-width: 194px;

  transition: all 0.4s;
}
.i-title-col {
  height: 100%;
  text-align: left;

  transition: all 0.4s;
}
.menu-btn-col {
  height: 100%;
  text-align: center;
  width: 65px;

  transition: all 0.4s;
}
.home-header {
  background-color: #fff;
  border-bottom: solid 1px #e6e6e6;
  padding: 0;
  box-shadow: 0 0 10px #eee;
  transition: all 0.4s;
}
.home-aside {
  height: 100%;
  width: inherit !important;
  transition: all 0.4s;
}
.mask-enter,
.mask-leave-to {
  opacity: 0;
}
.mask-enter-active,
.mask-leave-active {
  transition: 0.5s all;
}

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: translateX(80px);
}
.router-enter-active,
.router-leave-active {
  transition: 0.5s opacity, 0.5s transform;
}

.router-leave-active {
  position: absolute;
}

.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: none;
}
@media screen and (max-width: 767px) {
  .i-title {
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 5px;
    line-height: 40px;
    text-align: center;

    transition: all 0.1s;
  }
  .i-title span {
    font-size: 17px;

    transition: all 0.1s;
  }
  .home-header {
    height: 40px !important;

    transition: all 0.4s;
  }
  .menu-btn {
    padding: 0;
    border: none;

    transition: all 0.4s;
  }
  .menu-btn i {
    font-size: 17px;
  }
  .menu-btn-col {
    height: 100%;
    text-align: center;
    width: 40px;

    transition: all 0.4s;
  }
  .i-title-col {
    text-align: center;

    transition: all 0.4s;
  }

  .home-aside {
    position: absolute;
    z-index: 3;
    margin-left: -65px;

    transition: all 0.4s;
  }
  .home-aside-click {
    margin-left: 0;

    transition: all 0.4s;
  }
  .mask {
    display: block;
  }
  .search-btn-m {
    display: block;
  }

  .search-btn-m-c {
    opacity: 0;
    bottom: -50px;
  }

  .router-container {
    margin-top: 6%;
  }
}
